<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="./assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="./assets/owl.carousel.min.css">
    <link rel="stylesheet" href="./assets/owl.theme.default.min.css">





    <title>SSK PROJECTs</title>
    <link rel="icon" type="image/x-icon" href="./assets/images/ssk-logo.webp.webp">
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-light p-0">
        <div class="container-fluid">
            <div class="ssk-logo ">
                <a class="navbar-brands pl-4" href="/">
                    <img src="./assets/images/image_footer_logo.webp" class="main-logo" alt="S S K"
                        style="width:124px; margin: 0px 20px;">
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <form class="d-none d-lg-flex">
                <input class="form-control  bg-light" type="search" placeholder=" Search" id="head-search"
                    aria-label="Search">
                <div class="search-icons d-none d-lg-flex">
                    <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
                    <img src="./assets/images/search.svg" alt="">
                </div>
            </form>

            <div class="collapse navbar-collapse " id="navbar">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/" id="home-activ">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="./Auction.html">AUCTIONS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">CONTACT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">HELP</a>
                    </li>


                    <li class="nav-item d-block d-lg-none">
                        <a class="nav-link" aria-current="page" href="./signup.html">REGISTER</a>
                    </li>
                    <li class="nav-item d-block d-lg-none">
                        <a class="nav-link" aria-current="page" href="./login.html">LOGIN</a>
                    </li>




                </ul>
            </div>
            <div class="header-buttons d-flex justify-content-end w-100">
                <a class="btn-header-controls" href="">Switch To Selling</a>
                <a class="btn-header-upgrade" href="">Upgrade</a>

            </div>
            <div class="user-img pr-5">
                <a href="./login.html"><img src="./assets/images/users.webp"
                        style="width: 46px;border: 2px solid #f15d4c; border-radius: 50%;" alt=""></a>


            </div>


        </div>
    </nav>


    <div class="breadcrumb flex-column  mb-0 pb-0 bg-light-gray">
        <div class="breadcrumb-heading">
            <h2 class="text-center "> About Us</h2>
            <p class="text-center "><a class="bread-links" href="/">Home</a> > <a class="bread-links"
                    href="./About-us.html">About Us</a>
            </p>
        </div>
    </div>

    <!-- --------------------------------------About Us page------------------------------------------------ -->





    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 ">
                <!-- d-none d-lg-block -->
                <div class="sigma_about ">
                    <div class="sigma_about-image-1">
                        <img src="./assets/images/about/vision-1.jpg" alt="img">
                    </div>
                    <div class="sigma_about-image-2">
                        <img src="./assets/images/about/vision-2.jpg" alt="img">
                    </div>
                    <div class="sigma_about-image-3">
                        <img src="./assets/images/about/vision-3.jpg" alt="img">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                
                <h1 style="font-weight:900;">Talk to a <span class="primary-colour">Specialist</span> </h1>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nesciunt itaque maxime ducimus ex,
                    ipsam consequatur, fugit eum quaerat dolorum accusantium totam deleniti illum laboriosam? Quasi,
                    provident saepe? Dolores, aliquid.</p>
                <div class="row">
                    <div class="col-md-6">
                        <h5 class=" auct-exp mt-4">+1000</h5>
                        <h2 class="mt-3">Auction</h2>

                        <p>We tailor each valuation around the client and the collection, kimet asit.</p>

                    </div>

                    <div class="col-md-6">
                        <h5 class=" auct-exp mt-4">2 YEARS</h5>
                        <h2 class="mt-3">Experience</h2>
                        <p>We tailor each valuation around the client and the collection, kimet asit.</p>
                    </div>


                </div>

                <button class="btn about-contact-btn mt-5"><a class="About-Contact-link" href="./contact.html">CONTACT
                        US</a></button>

            </div>
        </div>
    </div>

    <!-- --------------------------------------------------------- -->

    <div class="container p-4">
       
        <h2 class="services-main-tittles mt-5 mb-4">About <span class="primary-colours">Us</span></h2>
        <div class="row">
            <div class="col-md-6">
                <div class="vision-text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste dolore veritatis fugit? Asperiores
                        cupiditate ex veritatis consectetur aperiam, est, voluptatum eveniet assumenda nihil sunt cum.
                        Quae ex laudantium perspiciatis est soluta quia excepturi dolorum a temporibus quo, consequatur,
                        qui veniam placeat debitis exercitationem fuga id hic voluptatem? Minus, corporis hic?</p>


                </div>
                <div class="vision-second-text d-flex">
                    <img src="./assets/images/about/hammer-vision.webp" width="45px" alt="">
                    <h4 class="service-sub-heading pl-5 mt-1"><b>Online Bidding</b></h4>
                </div>

                <p class="mt-2">The modern world is in a continuous movement and people everywhere are looking for
                    quick, safe means of accessing accurate information. Prompt information is vital.</p>

                <div class="vision-second-text d-flex">
                    <img src="./assets/images/about/company-enterprise.webp" width="45px" alt="">
                    <h4 class="service-sub-heading pl-5 mt-1"><b>Corporate Social Responsibility</b></h4>
                </div>

                <p class="mt-2">The modern world is in a continuous movement and people everywhere are looking for
                    quick, safe means of accessing accurate information. Prompt information is vital.</p>


            </div>


            <div class="col-md-6">
                <div class="vision-image">
                    <img src="./assets/images/about/Auction-live.webp" alt="">
                </div>
            </div>


        </div>
    </div>
    
    <!-- -----------------------------------Our Servicess------------------------------ -->

    <div class="container mt-5">
        <h2 class="services-main-tittle">Our <span class="primary-colour">Service</span></h2>
        <div class="row">
            <div class="col-md-4 mt-3">
                <div class="our-servicess p-4">
                    <img src="./assets/images/about/company-enterprise.webp" class="service-media-img" alt="">
                    <div class="service-text">
                        <h3 class="service-tittle mt-3">Valuation for Auction</h3>
                        <p class="text-justify mt-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil a
                            vel sit tempore.</p>
                        <hr class="service-line mt-4 mb-4">
                        </hr>
                    </div>

                    <div class="service-dot-line">
                        <ul class="service-line-un-order-list">
                            <li class="dot-line mt-3">
                                <!-- <i class="fa fa-circle px-3 "></i> -->
                                Family Division, Divorce & Auction Remedy

                            </li>

                            <li class="dot-line mt-3">
                                <!-- <i class="fa fa-circle px-3 "></i> -->
                                Valuation for the Court Protection

                            </li>

                            <li class="dot-line mt-3">
                                <!-- <i class="fa fa-circle px-3 "></i> -->
                                Inventory & Valuation Services for Corporate

                            </li>

                            <li class="dot-line mt-3">
                                <!-- <i class="fa fa-circle px-3 "></i> -->
                                Family Division, Divorce & Auction Remedy

                            </li>
                        </ul>

                    </div>

                </div>
            </div>

            <div class="col-md-4 mt-3">
                <div class="our-servicess p-4">
                    <img src="./assets/images/about/company-enterprise.webp" class="service-media-img" alt="">
                    <div class="service-text">
                        <h3 class="service-tittle mt-3">Valuation for Auction</h3>
                        <p class="text-justify mt-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil a
                            vel sit tempore.</p>
                        <hr class="service-line mt-4 mb-4">
                        </hr>
                    </div>

                    <div class="service-dot-line">
                        <ul class="service-line-un-order-list">
                            <li class="dot-line mt-3">
                                <!-- <i class="fa fa-circle px-3 "></i> -->
                                Family Division, Divorce & Auction Remedy

                            </li>

                            <li class="dot-line mt-3">
                                <!-- <i class="fa fa-circle px-3 "></i> -->
                                Valuation for the Court Protection

                            </li>

                            <li class="dot-line mt-3">
                                <!-- <i class="fa fa-circle px-3 "></i> -->
                                Inventory & Valuation Services for Corporate

                            </li>

                            <li class="dot-line mt-3">
                                <!-- <i class="fa fa-circle px-3 "></i> -->
                                Family Division, Divorce & Auction Remedy

                            </li>
                        </ul>

                    </div>

                </div>
            </div>

            <div class="col-md-4 mt-3">
                <div class="our-servicess p-4">
                    <img src="./assets/images/about/company-enterprise.webp" class="service-media-img" alt="">
                    <div class="service-text">
                        <h3 class="service-tittle mt-3">Valuation for Auction</h3>
                        <p class="text-justify mt-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil a
                            vel sit tempore.</p>
                        <hr class="service-line mt-4 mb-4">
                        </hr>
                    </div>

                    <div class="service-dot-line">
                        <ul class="service-line-un-order-list">
                            <li class="dot-line mt-3">
                                <!-- <i class="fa fa-circle px-3 "></i> -->
                                Family Division, Divorce & Auction Remedy

                            </li>

                            <li class="dot-line mt-3">
                                <!-- <i class="fa fa-circle px-3 "></i> -->
                                Valuation for the Court Protection

                            </li>

                            <li class="dot-line mt-3">
                                <!-- <i class="fa fa-circle px-3 "></i> -->
                                Inventory & Valuation Services for Corporate

                            </li>

                            <li class="dot-line mt-3">
                                <!-- <i class="fa fa-circle px-3 "></i> -->
                                Family Division, Divorce & Auction Remedy

                            </li>
                        </ul>

                    </div>

                </div>
            </div>

            
        </div>
    </div>
    </div>
    <!-- ------------------------What Can You Expect?----------------------------- -->

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <img src="./assets/images/about/overview-bg.png" class="image-fluid" alt="">
            </div>

            <div class="col-md-6">
                <h2 class="primary-colour">What Can You Expect?</h2>

                <p>Voluptate aut blanditiis accusantium officiis expedita dolorem inventore odio reiciendis obcaecati
                    quod nisi quae</p>

                <div class="row">
                    <div class="col-md-6">
                        <div class="about-small-sec d-flex justify-content-center w-100">
                            <img src="./assets/images/about/hammer-new-1.png" alt="">
                        </div>
                        <strong class="about-small-sec-heading">Real-Time Auction</strong>
                    </div>

                    <div class="col-md-6">
                        <div class="about-small-sec d-flex justify-content-center w-100">
                            <img src="./assets/images/about/Multiple Currency.png" alt="">
                        </div>
                        <strong class="about-small-sec-heading">Supports Multiple Currency</strong>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="about-small-sec d-flex justify-content-center w-100">
                            <img src="./assets/images/about/Winner-Announcement.png" alt="">
                        </div>
                        <strong class="about-small-sec-heading">Winner Announcement</strong>
                    </div>

                    <div class="col-md-6">
                        <div class="about-small-sec d-flex justify-content-center w-100">
                            <img src="./assets/images/about/Supports Multiple Currency.png" alt="">
                        </div>
                        <strong class="about-small-sec-heading">Supports Multiple Currency</strong>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="about-small-sec d-flex justify-content-center w-100">
                            <img src="./assets/images/about/Show All Bidders History.png" alt="">
                        </div>
                        <strong class="about-small-sec-heading">Show All Bidders History</strong>
                    </div>

                    <div class="col-md-6">
                        <div class="about-small-sec d-flex justify-content-center w-100">
                            <img src="./assets/images/about/Add-To-Watchlist.png" alt="">
                        </div>
                        <strong class="about-small-sec-heading mt-4">Add To Watchlist</strong>
                    </div>
                </div>

            </div>

        </div>
    </div>
  

 
  <!-- ------------------------What we have acchive------------------------------------ -->

  <div class="container-fluid mt-5  pr-0 pl-0" style="background-image: url(./assets/images/about/auction-hammr-bg2.jpg); background-attachment: fixed; background-position: center;">


    <div class="container-fluid overlay py-4 w-100 ">
        <h2 class="section-heading text-center my-0  mb-4">What <span class="text-brand-color">We’ve </span>
            Achieved</h2>

        <div class="row px-5 ">
            <div class="col-md-4 d-flex justify-content-center align-items-center flex-column">
                <img src="./assets/images/about/Peace.webp" width="100px" alt="">

                <span class="counter">+25</span>
                <p class="counter-desc mb-3">Complete Project Per Month</p>
            </div>

            <div class="col-md-4 d-flex justify-content-center align-items-center flex-column">
                <img src="./assets/images/about/engage.webp" width="100px" alt="">
                <span class="counter">+43</span>
                <p class="counter-desc mb-3">Years Practical Experience</p>
            </div>

            <div class="col-md-4 d-flex justify-content-center align-items-center flex-column">
                <img src="./assets//images/about/training.webp" width="100px" alt="">

                <span class="counter">+96</span>
                <p class="counter-desc">Awesome Team Members</p>
            </div>


        </div>
    </div>

</div>


   <!-- -----------------------------------Testimonial----------------------------------------- -->
   <div class="container-fluid py-4 reviews mt-3 p-0" style="background-image: url(/assets/images/pattern-1.jpg)">

    <h3 class=" testimonial-heading text-center" style="font-size: 48px;">
      Testimonials
    </h3>
    

    <div id="testimonial4"
      class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x"
      data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">

      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="testimonial4_slide px-0 px-md-5 mx-5">
            <img src="./assets/images/about/About-user.png" class="rounded-circle mt-4 "
              style="width: 100px; height: 100px;" />
            <p class="text-white mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ab assumenda exercitationem. Nihil, temporibus! Enim officia quos excepturi voluptas, et at tempore ab voluptatibus, sequi, nobis repellat iusto possimus. Non modi molestiae iste eligendi laboriosam atque a fuga iusto quibusdam vitae similique, tempora magnam odio animi excepturi possimus, ab quos.</p>
            <h4 class="text-white">Mr x - Director of abc Peace </h4>
          </div>
        </div>
        <div class="carousel-item">
          <div class="testimonial4_slide px-0 px-md-5 mx-5">
            <img src="./assets/images/about/About-user.png" class="rounded-circle mt-4 "
            style="width: 100px; height: 100px;" />
            <p class="text-white mt-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt, consectetur. Maxime totam perferendis voluptatibus unde neque? Quae a sed aliquid tempora debitis at. Optio iste at ut. Odio obcaecati ratione amet blanditiis quod minus maxime voluptate quia ab eius a dolorem alias vitae quo sunt eligendi officia asperiores, repellendus est.</p>
            <h4 class="text-white">Miss safiya - University of Manchester student </h4>
          </div>
        </div>
        <div class="carousel-item">
          <div class="testimonial4_slide px-0 px-md-5 mx-5">
            <img src="./assets/images/about/About-user.png" class="rounded-circle mt-4 "
            style="width: 100px; height: 100px;" />
            <p class="text-white mt-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam reprehenderit, quam temporibus earum dignissimos at ea recusandae soluta facere, impedit eius dolor repellendus, ex corporis ratione dicta optio blanditiis vitae omnis cum sapiente sed aut architecto eum? Unde, repellendus corrupti, error accusamus tempora similique omnis magni odio autem deserunt qui. </p>
            <h4 class="text-white">saif Khan - Social Prescribing Link Worker </h4>
          </div>
        </div>

        <div class="carousel-item">
          <div class="testimonial4_slide px-0 px-md-5 mx-5">
            <img src="./assets/images/about/About-user.png" class="rounded-circle mt-4 "
            style="width: 100px; height: 100px;" />
            <p class="text-white mt-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim tempora facere ea soluta animi porro repellat reiciendis veniam, expedita error, esse odit doloribus, assumenda quidem laudantium impedit nesciunt! Labore cumque aliquam assumenda adipisci veritatis eius, totam voluptatibus porro facere minima quia distinctio in, consectetur, earum repellat modi provident consequuntur sit.</p>
            <h4 class="text-white">Lewisham Council Officer </h4>
          </div>
        </div>

      </div>
      <a class="carousel-control-prev" href="#testimonial4" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#testimonial4" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
    <!-- -----------------------------------footer---------------------------------------------- -->

   <div class="container-fluid" id="footer-bg">
    <div class="row" style="padding-top: 220px;">
      <div class="col-md-5">
        <img src="./assets/images/image_footer_logo.webp" style="width: 160px; padding-top: 40px; margin-left: 40px;"
          class="footer-logo" alt="ssk">

      </div>
      <div class="col-md-7">
        <div class="row">
          <div class="col-sm-2">

            <ul class="footer-link" class="footer-link">
              <li class="footer-item"><a href="/">Home</a></li>
              <li class="footer-item"><a href="./help.html">Help</a></li>
              <li class="footer-item"><a href="./subscription.html">Subscription</a></li>
              <li class="footer-item"><a href="./checkout.html">Checkout</a></li>
            </ul>

          </div>
          <div class="col-sm-2">
            <div class="footer-titles">
              <ul class="footer-link">
                <li class="footer-item"><a href="#">Company</a></li>
                <li class="footer-item"><a href="./About-us.html">About</a></li>
                <li class="footer-item"><a href="#">Store</a></li>
                <li class="footer-item"><a href="./FAQs.html">FAQ</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="footer-titles">
              <ul class="footer-link">
                <li class="footer-item"><a href="#">Service</a></li>
                <li class="footer-item"><a href="#">Delivery</a></li>
                <li class="footer-item"><a href="#">Payment</a></li>
                <li class="footer-item"><a href="./contact.html">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="footer-texted">
              <p>Get notified about everything <br> releted to our auction</p>

              <div class="form-group">
                <input type="email" name="email" value="" placeholder="  Email" required="" id="subs">
                <!-- <button type="submit" class="theme-btn"><span class="fa fa-paper-plane"></span></button> -->
                <a href=""><i class="fal fa-paper-plane" id="footer-subs"></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    

  </div>
  <div class="container-fluid ids-info text-center" style="padding: 0px 0;">
    <p class="text-center mb-0" style="color: white; font-size: 14px;">
     Designed & Developed By
      <a class="text-white" href="https://i-diligence.com">IDILIGENCE SOLUTIONS PVT LTD</a>
    </p>
  </div>




    <script src="./assets/js/jqurey.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>

    <script src="./assets/js/bootstrap.min.js"></script>
    <script src="./assets/owl.carousel.min.js"></script>
    



    
    <script>
        // $('.counter').counterUp({
        //     delay: 10,
        //     time: 2000
        // });
        // $('.counter').addClass('animated fadeInDownBig');
        // $('span').addClass('animated fadeIn');
        $(".counter").counterUp({ time: 3000 });
    </script>
</body>

</html>
