<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>ssk</title>
    <link rel="icon" type="image/x-icon" href="./assets/images/ssk-logo.webp.webp">
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link rel="stylesheet" href="./assets/css/styles.css">
    <link rel="stylesheet" href="./assets/subscrip.css">
    <link rel="stylesheet" href="./assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <div class="d-flex" id="wrapper">

        <div class="border-end" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light"><a href="/"> <img
                        src="./assets/images/image_footer_logo.webp" style="width: 75%;     padding: 26px 40px 13px;"
                        alt=""></a> </div>
            <div class="list-group list-group-flush mt-5">
                <!-- <div class="pro-info">
          <img src="./assets/images/avatar.webp" class="subscription-pro-inf" alt="">
          <p class="pt-1 text-white">User Name</p>
        </div> -->

                <div class="logout mt-5">
                    <img src="./assets/images/admin/admin-home.svg" width="9%" alt="">
                    <a class="logout-item  ml-3" href="./admin-page.html">Dashboard</a>

                </div>
                <!-- <div class="subscription-icons d-flex ">
                    <img src="./assets/images/admin/admin-category.svg" class="add-icons" alt="">
                    <button class="dropdown-btn">Category
                        <i class="fa fa-caret-downs"></i>
                    </button>
                </div>
                <div class="dropdown-container">
                    <a class="dropdown-linkss " href="./admin-category-1.html">All Category</a>

                </div> -->


                <div class="logout ">
                    <img src="./assets/images/admin/admin-category.svg" width="9%" alt="">
                    <a class="logout-item  ml-3" href="./admin-category-1.html">Category</a>

                </div>


                <!-- <div class="subscription-icons d-flex ">
                    <img src="./assets/images/admin/admin-user.svg" class="add-icons" alt="">
                    <button class="dropdown-btn">User
                        <i class="fa fa-caret-downs"></i>
                    </button>
                </div>
                <div class="dropdown-container">
                    <a class="dropdown-linkss " href="./admin-user-page.html">User Management</a>

                </div> -->

                <div class="logout ">
                    <img src="./assets/images/admin/admin-user.svg" width="9%" alt="">
                    <a class="logout-item  ml-3" href="./admin-user-page.html">User</a>

                </div>



                <!-- <div class="subscription-icons d-flex ">
                    <img src="./assets/images/admin/admin-product.svg" class="add-icons" alt="">
                    <button class="dropdown-btn">Product
                        <i class="fa fa-caret-downs"></i>
                    </button>
                </div>
                <div class="dropdown-container">
                    <a class="dropdown-linkss " href="./admin-upload-product.html">Upload Product</a>

                </div> -->

                <div class="logout">
                    <img src="./assets/images/admin/admin-product.svg" width="9%" alt="">
                    <a class="logout-item  ml-3" href="./admin-view-all-product.html">All Product</a>

                </div>

                <!-- <div class="subscription-icons d-flex ">
                    <img src="./assets/images/admin/admin-auction.svg" class="add-icons" alt="">
                    <button class="dropdown-btn">Auction
                        <i class="fa fa-caret-downs"></i>
                    </button>
                </div>
                <div class="dropdown-container">
                    <a class="dropdown-linkss " href="./admin-create-auction.html">Create Auction</a>

                </div> -->

                <div class="logout">
                    <img src="./assets/images/admin/admin-auction.svg" width="9%" alt="">
                    <a class="logout-item  ml-3" href="./admin-auction-view.html"> Auction</a>
                </div>

                <!-- <div class="subscription-icons d-flex ">

                    <img src="./assets/images/admin/admin-category.svg" class="add-icons" alt="">
                    <button class="dropdown-btn">Subscription
                        <i class="fa fa-caret-downs"></i>
                    </button>
                </div>
                <div class="dropdown-container">
                    <a class="dropdown-linkss " href="./admin-all-subscription.html">All Subscription</a>
                    <a class="dropdown-linkss " href="./add-subscriptipn.html">Add Subscription</a>

                </div> -->

                <div class="logout">
                    <img src="./assets/images/admin/admin-category.svg" width="9%" alt="">
                    <a class="logout-item  ml-3" href="./admin-all-subscription.html">All Subscription</a>

                </div>


                <!-- <div class="subscription-icons d-flex ">
                    <img src="./assets/images/admin/admin-content.svg" class="add-icons" alt="">
                    <button class="dropdown-btn">Content
                        <i class="fa fa-caret-downs"></i>
                    </button>
                </div>
                <div class="dropdown-container">
                    <a class="dropdown-linkss " href="#">SSK PROJECT</a>

                </div>
                <div class="logout">
                    <img src="./assets/images/setting-light.svg" width="9%" alt="">
                    <a class="logout-item  ml-3" href="">LogOut</a>

                </div> -->

                <div class="logout">
                    <img src="./assets/images/admin/admin-content.svg" width="9%" alt="">
                    <a class="logout-item  ml-3" href="./admin-content-page.html">Content</a>

                </div>
                <div class="logout">
                    <img src="./assets/images/setting-light.svg" width="9%" alt="">
                    <a class="logout-item  ml-3" href="">LogOut</a>

                </div>

            </div>
        </div>
        <!-- Page content wrapper-->
        <!-- <div class="subscription-first-section">
      <img src="./assets/images/subscriptin-bg.webp" class="subs-bread"
        style="width: 100%; position: absolute; top: 70px;" alt="">
    </div> -->

        <div id="page-content-wrapper">
            <div class="left-gradient mt-5"></div>
            <div class="right-gradient-top mt-5"></div>
            <div class="right-gradient-bottom mt-5"></div>
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <button class="btn sidebar-toggle-btn" id="sidebarToggle"><img src="./assets/images/bars.svg"
                            alt=""></button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span
                            class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">

                            <li class="nav-item d-block d-lg-none">
                                <a class="nav-link" aria-current="page" href="./signup.html">REGISTER</a>
                            </li>
                            <li class="nav-item d-block d-lg-none">
                                <a class="nav-link" aria-current="page" href="./login.html">LOGIN</a>
                            </li>

                            <nav class="navbar navbar-expand-sm">
                                <div class="collapse navbar-collapse" id="navbar-list-4">
                                    <ul class="navbar-nav">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                                role="button" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <img src="./assets/images/avatar.webp" width="40" height="40"
                                                    class="rounded-circle">
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                                <div class="subscription-icons d-flex ">
                                                    <img src="./assets/images/setting.svg" class="add-icons" alt="">
                                                    <a class="dropdown-item" href="#">Settings</a>
                                                </div>

                                                <div class="subscription-icons d-flex ">
                                                    <img src="./assets/images/log-out.svg" class="add-icons" alt="">
                                                    <a class="dropdown-item" href="#">Log Out</a>
                                                </div>

                                            </div>

                                        </li>

                                    </ul>
                                </div>
                            </nav>

                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->

            <!-- ---------------------------------------first section------------------------------------------------- -->

            <div class="container p-5">

                <div class="row">
                    <div class="category-table pt-3 px-3">


                        <div class="category-1-heading d-flex justify-content-between bg-success rounded-top">
                            <h4 class="py-2 pl-3  text-white">All Subscriptions</h4>
                            <button class="btn craete-category-btn" id="create-new-subscription-modal-btn-open"
                                href="">Create New
                            </button>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group mb-3 mt-3">
                                    <button type="button" class="btn btn-secondary">Exel</button>
                                    <button type="button" class="btn btn-secondary">PDF</button>
                                    <button type="button" class="btn btn-secondary">PDF</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group d-flex justify-content-end w-100  mb-2 mt-3 "
                                    style="margin: 43px;">
                                    <div class="form-outline" style="width: 70%;">
                                        <input type="search" placeholder="Search ...." id="form1"
                                            class="form-control" />

                                    </div>
                                    <button type="button" class="btn btn-serch">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="user-align" style="overflow: auto; ">
                            <table id="create-table">
                                <tr>
                                    <th class="admin-category-sub-heading pl-3 p-3" style="width:30%">Subscriptions Name
                                    </th>
                                    <th class="admin-category-sub-heading pl-3" style="width:25%">Subscriptions Price
                                    </th>
                                    <th class="admin-category-sub-heading pl-3" style="width:25%">Subscriptions Image
                                    </th>
                                    <th class="admin-category-sub-heading pl-3" style="width:20%">Action</th>
                                </tr>
                                <tr>
                                </tr>
                                <tr>
                                    <td class="admin-category-option pl-5">Free</td>
                                    <td class="admin-category-option pl-5">$00</td>

                                    <td class="admin-category-option pl-3">
                                        <div class="admin-category-images">
                                            <img src="" alt="Category Image">
                                        </div>
                                    </td>

                                    <td>
                                        <a href="#" class="btn btn-sm btn-outline-info" class="subscription-edit"
                                            data-toggle="modal" data-target="#myModal"><i
                                                class="fa-solid fa-pen-to-square"></i></a>
                                        <a href="#" class="btn btn-sm btn-outline-success"><i
                                                class="fa-solid fa-eye"></i></a>

                                        <a href="#" class="btn btn-sm btn-outline-danger" id="modal-btn-open"><i
                                                class="fa-solid fa-trash"></i></a>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="admin-category-option pl-5">Silver</td>
                                    <td class="admin-category-option pl-5">$15</td>
                                    <td class="admin-category-option pl-3">
                                        <div class="admin-category-images">
                                            <img src="" alt="Category Image">
                                        </div>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-sm btn-outline-info" class="subscription-edit"
                                            data-toggle="modal" data-target="#myModal"><i
                                                class="fa-solid fa-pen-to-square"></i></a>
                                        <a href="#" class="btn btn-sm btn-outline-success"><i
                                                class="fa-solid fa-eye"></i></a>

                                        <a href="#" class="btn btn-sm btn-outline-danger" id="modal-btn-open-1"><i
                                                class="fa-solid fa-trash"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="admin-category-option pl-5">Gold</td>
                                    <td class="admin-category-option pl-5">$30</td>
                                    <td class="admin-category-option pl-3">
                                        <div class="admin-category-images">
                                            <img src="" alt="Category Image">
                                        </div>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-sm btn-outline-info" class="subscription-edit"
                                            data-toggle="modal" data-target="#myModal"><i
                                                class="fa-solid fa-pen-to-square"></i></a>
                                        <a href="#" class="btn btn-sm btn-outline-success"><i
                                                class="fa-solid fa-eye"></i></a>

                                        <a href="#" class="btn btn-sm btn-outline-danger" id="modal-btn-open-2"><i
                                                class="fa-solid fa-trash"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="admin-category-option pl-5">Platinum</td>
                                    <td class="admin-category-option pl-5">$45</td>
                                    <td class="admin-category-option pl-3">
                                        <div class="admin-category-images">
                                            <img src="" alt="Category Image">
                                        </div>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-sm btn-outline-info" class="subscription-edit"
                                            data-toggle="modal" data-target="#myModal"><i
                                                class="fa-solid fa-pen-to-square"></i></a>
                                        <a href="#" class="btn btn-sm btn-outline-success"><i
                                                class="fa-solid fa-eye"></i></a>

                                        <a href="#" class="btn btn-sm btn-outline-danger" id="modal-btn-open-3"><i
                                                class="fa-solid fa-trash"></i></a>
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td class="admin-category-option pl-3">Da Vinci decor</td>
                                    <td class="admin-category-option pl-3">Others</td>
                                    <td class="admin-category-option pl-3">
                                        <div class="admin-category-images">
                                            <img src="" alt="Category Image">
                                        </div>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-sm btn-outline-info"><i
                                                class="fa-solid fa-pen-to-square"></i></a>
                                        <a href="#" class="btn btn-sm btn-outline-success"><i
                                                class="fa-solid fa-eye"></i></a>
                                        <a href="#" class="btn btn-sm btn-outline-danger"><i
                                                class="fa-solid fa-trash"></i></a>
                                    </td>
                                </tr> -->

                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mt-3">
                                    <strong>Showing 1 to 4 of 4 entries</strong>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <nav aria-label="Page navigation ">
                                    <ul class="pagination d-flex justify-content-end w-100 mt-3">
                                        <li class="page-item " aria-current="page">
                                            <a class="page-link" href="#">Previous <span
                                                    class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="page-item active">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Page 1</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="container d-flex justify-content-end w-100 mt-4">
        <a class="btn add-subscription-btn" href="./add-subscriptipn.html">Add Subscription</a>
    </div> -->


            <!-- --------------------------------create new modal----------- -->

            <div id="create-new-subscription-myModal" class="delete-modal">
                <div class="Delete-modal-content">
                    <div class="modal-body" style="background-color: aliceblue; border-radius: 12px;">
                        <span class="close-delete">&times;</span>

                        <div class="container mt-4 mb-4 px-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <!-- <div class="input-group mb-3">
                                <label class="subs-titless mb-2">Category Of</label>
                                <select class="form-select" id="inputGroupSelect03"
                                    aria-label="Example select with button addon">
                                    <option selected>Choose category</option>
                                    <option value="1">Furnitures</option>
                                    <option value="2">Mobile & Tablets</option>
                                    <option value="3">Laptops</option>
                                    <option value="3">Artifacts</option>
                                    <option value="3">Others</option>
                                </select>
                            </div> -->

                                    <div class="form-group  ">
                                        <label class="subs-titless mb-2">subscription Name </label>
                                        <input type="Name" class="form-control mb-3"
                                            placeholder="Enter subscription Name" id="usr20" name="Name" required="">
                                    </div>
                                    <div class="form-group  ">
                                        <label class="subs-titless mb-2">Number Of Free Auction</label>
                                        <input type="Name" class="form-control mb-3"
                                            placeholder="Enter Number Of Free Auction" id="usr21" name="Name"
                                            required="">
                                    </div>

                                    <label class="subs-titless mb-2">Image</label>

                                    <div class="input-group mb-3 d-flex">
                                        <input type="file" class="form-control" id="inputGroupFile02">
                                        <label class="input-group-text" for="inputGroupFile02">Browse</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group  ">
                                        <label class="subs-titless mb-2">subscription Charges</label>
                                        <input type="number" class="form-control mb-3"
                                            placeholder="Enter subscription Price" id="usr13" name="Name" required="">
                                    </div>

                                    <div class="form-group  ">
                                        <label class="subs-titless mb-2">Number Of Bid</label>
                                        <input type="number" class="form-control mb-3" placeholder="Enter Number Of Bid"
                                            id="usr16" name="Name" required="">
                                    </div>

                                    <div class="form-group  ">
                                        <label class="subs-titless mb-2">Validity</label>
                                        <input type="text" class="form-control mb-3" placeholder="Enter Validity"
                                            id="usr22" name="Name" required="">
                                    </div>


                                    <div class="create-btn-align d-flex mt-5">
                                        <a class="btn crate-done-btn bg-success" style="margin: 0px 8px;"
                                            href="">Create</a>
                                        <a class="btn crate-done-btn" href="./admin-all-subscription.html">back To
                                            List</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>



            <!-- --------------------------------------popup------------------------------------------ -->

            <div class="container">
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-dialog-scrollable modal-xl">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close p-0 mr-0" data-dismiss="modal">&times;</button>

                            </div>
                            <div class="modal-body" style="background-color: aliceblue; border: 1px solid red; ">


                                <div class="container mt-3">
                                    <div class="left-gradient"></div>
                                    <div class="right-gradient-top"></div>
                                    <div class="right-gradient-bottom"></div>
                                    <div class="d-flex justify-content-center w-100 ">
                                        <h5><img src="./assets/images/king-head.svg" class="king-image " alt=""> Edit
                                            Subscription </h5> <img src="./assets/images/king-head.svg"
                                            class="king-image p-1" alt="">
                                    </div>
                                    <div class="row">
                                        <!-- <h2 class="d-flex justify-content-center w-100">Free</h2> -->
                                        <div class="col-md-6 col-md-offset-1 mt-2 px-5">
                                            <div class="subscription-upload">
                                                <div class="logoContainer d-flex justify-content-center w-100 mt-5">
                                                    <img src="./assets/images/upload.webp.webp" class="upload-image">
                                                </div>
                                                <div class="fileContainer sprite mb-4">
                                                    <span>choose file</span>
                                                    <input type="file" value="Choose File">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5 mt-2">
                                            <div class="subscription-add-data">

                                                <div class="form-group ">
                                                    <label class="subs-titless">Subscription Type (Name)</label>
                                                    <input type="Name" class="form-control mb-3"
                                                        placeholder="Subscription Name" id="usr13" name="Name"
                                                        required="">
                                                </div>

                                                <div class="form-group">

                                                    <label class="subs-titless">Number of Free Auction </label>
                                                    <input type="number" class="form-control"
                                                        placeholder="Number of Free Auction" id="usra14" name="username"
                                                        required="">
                                                </div>

                                                <div class="form-group">

                                                    <label class="subs-titless">Number Of Bid</label>
                                                    <input type="number" class="form-control"
                                                        placeholder="Number Of Bid" id="usra12" name="username"
                                                        required="">
                                                </div>

                                                <div class="form-group">

                                                    <label class="subs-titless"> Validity</label>
                                                    <input type="number" class="form-control" placeholder=" Validity"
                                                        id="usra11" name="username" required="">
                                                </div>

                                                <div class="form-group ">
                                                    <label class="subs-titless">Subscription Charges</label>
                                                    <input type="number" class="form-control mb-3"
                                                        placeholder="Subscription Charges" id="usr10" name="username"
                                                        required="">
                                                </div>






                                            </div>
                                        </div>

                                        <div class="subs-save-button d-flex justify-content-center w-100 mt-2">
                                            <a class="btn subs-save-btn mb-2" href="">Save</a>

                                        </div>

                                    </div>
                                </div>

                                <!-- <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div> -->
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <!-- --------------------------------------delete free popup----------------------------------------- -->


            <div id="delete-myModal" class="delete-modal">
                <div class="Delete-modal-content">
                    <div class="modal-body" style="background-color: aliceblue; border-radius: 12px;">
                        <span class="close-delete">&times;</span>
                        <div class="icon-box d-flex justify-content-center w-100">
                            <img src="./assets/images/new-cross-icon.png"
                                style="width: 10%; height: 10%; margin: 0px 8px;" alt="">
                            <h5 class="delete-text text-center mt-3 mb-5">Are You Sure You Want To Delete This
                                Subscription ?</h5>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="delete-modal-image-section">
                                        <img src="./assets/images/Subscription-img/01svg.svg" alt="">

                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="delete-modal-headings text-center">
                                        <h2 class="modal-headings">Free</h2>
                                        <h3><strong>$0</strong>/mo</h3>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="subscription-check d-flex justify-content-center w-100 mt-3  ">
                                        <ul class="checked-list">
                                            <li class=""><img src="./assets/images/check.svg" alt=""> X No. Free
                                                auctions</li>

                                            <li class=""><img src="./assets/images/check.svg" alt=""> X No. Free Bids
                                            </li>

                                            <!-- <li class=""><img src="./assets/images/check.svg" alt=""> Free plan </li> -->

                                            <li class=""><img src="./assets/images/check.svg" alt=""> Charges $0.00</li>

                                            <li class=""><img src="./assets/images/check.svg" alt=""> 3 Month Validity
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="delete-button-group d-flex justify-content-center w-100 mt-5">
                            <a class="btn delete-sure-btn" href="">Yes</a>
                            <a class="btn delete-not-btn" href="">No</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- --------------------------------------silverpopup------------------------------------------ -->
            <div id="delete-myModal-1" class="delete-modal">
                <div class="Delete-modal-content">
                    <div class="modal-body" style="background-color: aliceblue; border-radius: 12px;">
                        <span class="close-delete">&times;</span>
                        <div class="icon-box d-flex justify-content-center w-100">
                            <img src="./assets/images/new-cross-icon.png"
                                style="width: 10%; height: 10%; margin: 0px 8px;" alt="">
                            <h5 class="delete-text text-center mt-3 mb-5">Are You Sure You Want To Delete This
                                Subscription ?</h5>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="delete-modal-image-section">
                                        <img src="./assets/images/Subscription-img/02svg.svg" alt="">

                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="delete-modal-headings text-center">
                                        <h2 class="modal-headings">Silver</h2>
                                        <h3><strong>$15</strong>/mo</h3>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="subscription-check d-flex justify-content-center w-100 mt-3  ">
                                        <ul class="checked-list">
                                            <li class=""><img src="./assets/images/check.svg" alt=""> X No. Free
                                                auctions</li>

                                            <li class=""><img src="./assets/images/check.svg" alt=""> X No. Free Bids
                                            </li>

                                            <li class=""><img src="./assets/images/check.svg" alt=""> Charges $15.00
                                            </li>

                                            <!-- <li class=""><img src="./assets/images/check.svg" alt=""> Silver plan</li> -->
                                            <li class=""><img src="./assets/images/check.svg" alt=""> 6 Month Validity
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="delete-button-group d-flex justify-content-center w-100 mt-5">
                            <a class="btn delete-sure-btn" href="">Yes</a>
                            <a class="btn delete-not-btn" href="">No</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- --------------------------------------gold popup------------------------------------------ -->
            <div id="delete-myModal-2" class="delete-modal">
                <div class="Delete-modal-content">
                    <div class="modal-body" style="background-color: aliceblue; border-radius: 12px;">
                        <span class="close-delete">&times;</span>
                        <div class="icon-box d-flex justify-content-center w-100">
                            <img src="./assets/images/new-cross-icon.png"
                                style="width: 10%; height: 10%; margin: 0px 8px;" alt="">
                            <h5 class="delete-text text-center mt-3 mb-5">Are You Sure You Want To Delete <br>This
                                Subscription ?
                            </h5>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="delete-modal-image-section">
                                        <img src="./assets/images/Subscription-img/03svg.svg" alt="">

                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="delete-modal-headings text-center">
                                        <h2 class="modal-headings">Gold</h2>
                                        <h3><strong>$30</strong>/mo</h3>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="subscription-check d-flex justify-content-center w-100 mt-3  ">
                                        <ul class="checked-list">
                                            <li class=""><img src="./assets/images/check.svg" alt=""> X No. Free
                                                auctions</li>

                                            <li class=""><img src="./assets/images/check.svg" alt=""> X No. Free Bids
                                            </li>

                                            <li class=""><img src="./assets/images/check.svg" alt=""> Charges $30.00
                                            </li>

                                            <!-- <li class=""><img src="./assets/images/check.svg" alt=""> Silver plan</li> -->

                                            <li class=""><img src="./assets/images/check.svg" alt=""> 1 Year Validity
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="delete-button-group d-flex justify-content-center w-100 mt-5">
                            <a class="btn delete-sure-btn" href="">Yes</a>
                            <a class="btn delete-not-btn" href="">No</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- --------------------------------------platinum popup------------------------------------------ -->
            <div id="delete-myModal-3" class="delete-modal">
                <div class="Delete-modal-content">
                    <div class="modal-body" style="background-color: aliceblue; border-radius: 12px;">
                        <span class="close-delete">&times;</span>
                        <div class="icon-box d-flex justify-content-center w-100">
                            <img src="./assets/images/new-cross-icon.png"
                                style="width: 10%; height: 10%; margin: 0px 8px;" alt="">
                            <h5 class="delete-text text-center mt-3 mb-5">Are You Sure You Want To Delete <br>This
                                Subscription ?
                            </h5>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="delete-modal-image-section">
                                        <img src="./assets/images/Subscription-img/04svg.svg" alt="">

                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="delete-modal-headings text-center">
                                        <h2 class="modal-headings">Platinum</h2>
                                        <h3><strong>$45</strong>/mo</h3>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="subscription-check d-flex justify-content-center w-100 mt-3  ">
                                        <ul class="checked-list">
                                            <li class=""><img src="./assets/images/check.svg" alt=""> X No. Free
                                                auctions</li>

                                            <li class=""><img src="./assets/images/check.svg" alt=""> X No. Free Bids
                                            </li>

                                            <li class=""><img src="./assets/images/check.svg" alt=""> Charges $45.00
                                            </li>

                                            <!-- <li class=""><img src="./assets/images/check.svg" alt=""> Silver plan</li> -->

                                            <li class=""><img src="./assets/images/check.svg" alt=""> 2 Year Validity
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="delete-button-group d-flex justify-content-center w-100 mt-5">
                            <a class="btn delete-sure-btn" href="">Yes</a>
                            <a class="btn delete-not-btn" href="">No</a>
                        </div>
                    </div>
                </div>
            </div>


            <!-- <div style="background: -webkit-linear-gradient(332deg,#ff5441, #294b8f);">
                <p class="px-5  p-3 mt-4 mb-0 text-white">Copyright © 2021-2030 <strong class="text-dark">SSK
                        PROJECT</strong>. All rights reserved.</p>
            </div> -->

        </div>
    </div>

    <!-- -----------------------------------footer---------------------------------------------- -->


    <!-- ======================================================== -->


    <script src="./assets/js/jqurey.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>

    <script src="./assets/js/bootstrap.min.js"></script>
    <script src="./assets/owl.carousel.min.js"></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <!-- <script src="js/scripts.js"></script> -->


    <!-- ============toggler======================= -->
    <script>


        window.addEventListener('DOMContentLoaded', event => {
            const sidebarToggle = document.body.querySelector('#sidebarToggle');
            if (sidebarToggle) {
                sidebarToggle.addEventListener('click', event => {
                    event.preventDefault();
                    document.body.classList.toggle('sb-sidenav-toggled');
                    localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
                });
            }
        });

    </script>

    <!-- ============toggler end======================= -->

    <script>
        $("input:file").change(function () {
            var fileName = $(this).val();
            if (fileName.length > 0) {
                $(this).parent().children('span').html("Edit");
            }
            else {
                $(this).parent().children('span').html("Choose file");

            }
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.logoContainer img').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("input:file").change(function () {
            readURL(this);
        });
    </script>


    <script>

        var dropdown = document.getElementsByClassName("subscription-icons");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "contents") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "contents";
                }
            });
        }
    </script>


    <script>
        $('.carousel-main').owlCarousel({
            items: 4,
            loop: true,
            autoplay: true,
            autoplayTimeout: 1500,
            margin: 15,
            nav: true,
            dots: false,
            navText: ['<span class="fas fa-chevron-left fa-2x"></span>', '<span class="fas fa-chevron-right fa-2x"></span>'],
            responsive: {
                // breakpoint from 0 up
                0: {
                    items: 1,
                },

                480: {
                    items: 2,
                },

                700: {
                    items: 2.5,
                },
                800: {
                    items: 3,
                },
                1150: {
                    items: 4,

                },

            }
        })
    </script>

    <script>
        $(".ico.fal").click(function () {
            $(this).toggleClass("ico heart-des");
        });

    </script>

    <script>
        $("input:file").change(function () {
            var fileName = $(this).val();
            if (fileName.length > 0) {
                $(this).parent().children('span').html("Edit");
            }
            else {
                $(this).parent().children('span').html("Choose file");

            }
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.logoContainer img').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("input:file").change(function () {
            readURL(this);
        });
    </script>


    <script>
        $(document).ready(function () {
            $(".close-delete").click(function () {
                $("#create-new-subscription-myModal").hide();
            });
            $("#create-new-subscription-modal-btn-open").click(function () {
                $("#create-new-subscription-myModal").show();
            });
        });
    </script>

    <!-- -----------------free------------------->


    <script>
        $(document).ready(function () {
            $(".close-delete").click(function () {
                $("#delete-myModal").hide();
            });
            $("#modal-btn-open").click(function () {
                $("#delete-myModal").show();
            });
        });
    </script>
    <!-- ----------------end-free----------------->

    <!-- -----------------silver------------------>

    <script>
        $(document).ready(function () {
            $(".close-delete").click(function () {
                $("#delete-myModal-1").hide();
            });
            $("#modal-btn-open-1").click(function () {
                $("#delete-myModal-1").show();
            });
        });
    </script>
    <!-- -----------------silver end--------------->

    <!-- -----------------gold---------------------->

    <script>
        $(document).ready(function () {
            $(".close-delete").click(function () {
                $("#delete-myModal-2").hide();
            });
            $("#modal-btn-open-2").click(function () {
                $("#delete-myModal-2").show();
            });
        });
    </script>
    <!-- -----------------gold end-------------->

    <!-- -----------------platinum-------------->

    <script>
        $(document).ready(function () {
            $(".close-delete").click(function () {
                $("#delete-myModal-3").hide();
            });
            $("#modal-btn-open-3").click(function () {
                $("#delete-myModal-3").show();
            });
        });
    </script>
    <!-- ---------------------platinum--------------->

</body>

</html>
